<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Do+Hyeon&family=Dongle:wght@400;700&family=Gothic+A1:wght@400;500&family=Gowun+Batang&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Sunflower:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bc6b6ea66.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
    <div class="wrap">
        <div class="container">
            <!-- 어드민 헤더 -->
            <div class="admin-header">
                <div class="home">
                    <a href="/main">
                        <i class="fa-solid fa-house icon"></i>
                    </a>
                </div>
                <div class="logo">
                    <h2>관리자 페이지</h2>
                </div>
                <div class="log-out">
                    <i class="fa-solid fa-right-from-bracket icon"></i>
                </div>
            </div>
            <!-- 어드민 메인 -->
            <div class="admin-main">
                <div class="main-header">
                    <!-- 페이지 번호 -->
                    <div class="page-number">
                    </div>
                    <!-- 검색 -->
                    <div class="search">
                        <div class="search-category">
                            <select name="category" class="category-input">
                                <option value="">전체 메뉴</option>
                                <option value="2">시즌</option>
                                <option value="3">커피</option>
                                <option value="4">음료</option>
                                <option value="5">티</option>
                                <option value="6">디저트</option>
                            </select>
                        </div>
                        <div class="search-area">
                            <input type="text" class="search-input">
                            <button class="search-button" type="button">검색</button>
                        </div>
                    </div>
                    <!-- 메뉴 추가 -->
                    <div class="add-menu">
                        <a class="add-button" href="/admin/menuDetail">추가하기</a>
                    </div>
                </div>
                <table class="admin-main-area">
                    <thead class="category">
                        <tr class="category-list">
                            <th class="id">번호</th>
                            <th class="menu-image">이미지</th>
                            <th class="menu-category">카테고리</th>
                            <th class="menu-name">상품명</th>
                            <th class="menu-price">가격</th>
                            <th class="memo">메모</th>
                            <th class="menu-button">수정 삭제</th>
                        </tr>
                    </thead>
                    <tbody class="menu">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/static/js/admin/admin.js"></script>
</body>

</html>