<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 수정</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/menuDetail.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="title">
                <h2>메뉴 상세 페이지</h2>
            </div>
            <!-- 메뉴 정보 영역 -->
            <div class="menu-info-area">

                <!-- 메뉴 이미지 -->
                <div class="image-area">
                    <form class="image-form" enctype="multipart/form-data">
                        <div class="image-title">
                            <span>상품 이미지</span>
                        </div>
                        <div class="image">
                            <img src="/static/images/noImage.jpg" alt="no-image">
                        </div>
                        <input class="image-input" type="file" name="file">
                    </form>
                </div>
                <!-- 메뉴 정보 -->
                <div class="menu-detail">
                    <div class="menu-name menu-info">
                        <span>상품명</span>
                        <input class="menu-input" type="text">
                    </div>
                    <div class="menu-category menu-info">
                        <span>카테고리</span>
                        <select name="category" class="menu-input">
                            <option value="">카테고리를 선택해주세요.</option>
                            <option value="1">시즌</option>
                            <option value="2">커피</option>
                            <option value="3">음료</option>
                            <option value="4">티</option>
                            <option value="5">디저트</option>
                        </select>
                        <!-- <input class="menu-input" type="text"> -->
                    </div>
                    <div class="menu-price menu-info">
                        <span>가격</span>
                        <input class="menu-input" type="text">
                    </div>
                </div>
            </div>
            <!-- 비고 사항 -->
            <div class="menu-memo-area">
                <div class="memo-title">
                    <span>비고 사항</span>
                </div>
                <div class="memo-content">
                    <textarea class="menu-memo menu-input" name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="button-area">
                <button class="save-button button" type="button">저장</button>
                <button class="cancel-button button" type="button">취소</button>
            </div>
        </div>
    </div>
    <script src="/static/js/menu/menuDetail.js"></script>
</body>

</html>