<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HDH.kiosk.repository.menu.MenuRepository">
    <resultMap id="menu" type="com.HDH.kiosk.domain.Menu">
        <result property="id" column="id"></result>
        <result property="category_id" column="category_id"></result>
        <result property="menu_name" column="menu_name"></result>
        <result property="price" column="price"></result>
        <result property="menu_img" column="menu_img"></result>
        <result property="memo" column="memo"></result>
        <result property="create_date" column="create_date"></result>
        <result property="update_date" column="update_date"></result>
    </resultMap>

    <resultMap id="menuList" type="com.HDH.kiosk.domain.MenuList">
        <result property="id" column="id"></result>
        <result property="category_id" column="category_id"></result>
        <result property="category_name" column="category_name"></result>
        <result property="menu_name" column="menu_name"></result>
        <result property="price" column="price"></result>
        <result property="menu_img" column="menu_img"></result>
        <result property="memo" column="memo"></result>
    </resultMap>
    <insert id="addMenu"
            parameterType="com.HDH.kiosk.domain.Menu"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into
            menu_mst
        values(
            0,
            #{category_id},
            #{menu_name},
            #{price},
            #{menu_img},
            #{memo},
            now(),
            now()
        );

    </insert>
    <update id="updateMenu"
            parameterType="com.HDH.kiosk.domain.Menu">
        UPDATE
            menu_mst
        SET
            category_id = #{category_id},
            menu_name = #{menu_name},
            price = #{price},
            menu_img = #{menu_img},
            memo = #{memo},
            update_date = now()
        WHERE
            id = #{id}

    </update>
    <select id="loadMenuList"
            parameterType="hashmap"
            resultType="com.HDH.kiosk.domain.MenuList">
        SELECT
            mm.id,
            mm.category_id,
            cd.category_name,
            mm.menu_name,
            mm.price,
            mm.menu_img,
            mm.memo
        from
            menu_mst mm
            LEFT OUTER JOIN category_dtl cd ON(cd.id = mm.category_id)
    </select>
    <select id="loadMenuInfo" resultType="com.HDH.kiosk.domain.MenuList">
        SELECT
            mm.id,
            mm.category_id,
            mm.menu_name,
            mm.price,
            mm.menu_img,
            mm.memo
        from
            menu_mst mm
        where
        id = #{id}
    </select>


</mapper>