<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 수정</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/menuDetail.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="title">
                <h2>메뉴 수정 페이지</h2>
            </div>
            <!-- 메뉴 정보 영역 -->
            <div class="menu-info-area">


            </div>
            <!-- 비고 사항 -->
            <div class="menu-memo-area">

            </div>
            <div class="button-area">
                <button class="save-button button" type="button">저장</button>
                <button class="cancel-button button" type="button">취소</button>
            </div>
        </div>
    </div>
    <script src="/static/js/menu/modification.js"></script>
</body>

</html>