<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Do+Hyeon&family=Dongle:wght@400;700&family=Gothic+A1:wght@400;500&family=Gowun+Batang&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Sunflower:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bc6b6ea66.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
    <div class="wrap">
        <div class="container">
            <!-- 헤더 영역 -->
            <header class="header">
                <!-- 로고, 처음으로 영역 -->
                <div class="header-left">
                    <div class="logo">
                        <img class="logo-image" src="/static/images/logo2.png">
                    </div>
                    <div class="home">
                        <i class="fa-solid fa-house icon"></i>
                        <a href="/">처음으로</a>
                    </div>
                </div>
                <!-- 관리자 로그인 영역 -->
                <div class="header-right">
                    <div class="login">
                        <a href="/login"><i class="fa-solid fa-user login-icon"></i></a>
                    </div>
                </div>
            </header>

            <!-- 메인 영역 -->
            <div class="main">
                <!-- 카테고리 선택 영역 -->
                <div class="category-area">
                    <ul class="category">
                        <!-- <li class="total-menu"><input class="category-input" type="radio">전체 메뉴</li> -->
                        <li class="season"><input class="category-input" type="radio">시즌</li>
                        <li class="coffee"><input class="category-input" type="radio">커피</li>
                        <li class="beverage"><input class="category-input" type="radio">음료</li>
                        <li class="tea"><input class="category-input" type="radio">티</li>
                        <li class="desert"><input class="category-input" type="radio">디저트</li>
                    </ul>
                </div>
                <!-- 메뉴 선택 영역 -->
                <div class="select-area">
                    <ul class="menus">
                    </ul>
                </div>
            </div>


            <!-- 장바구니 화면 -->
            <div class="product">
                <!-- 선택한 메뉴 리스트 -->
                <div class="menu-list">
                    <div class="menu-info">
                        <div class="selected-menu-name">
                            <span>아메리카노</span>
                        </div>
                        <div class="menu-count">
                            <span>개</span>
                        </div>
                        <div class="menu-delete-button">

                        </div>
                    </div>
                    <div class="menu-info">
                        <div class="selected-menu-name">
                            <span>아메리카노</span>
                        </div>
                        <div class="menu-count">
                            <span>개</span>
                        </div>
                        <div class="menu-delete-button">
                            <i class="fa-sharp fa-solid fa-circle-xmark delete-icon"></i>
                        </div>
                    </div>
                    <div class="menu-info">
                        <div class="selected-menu-name">
                            <span>아메리카노</span>
                        </div>
                        <div class="menu-count">
                            <span>개</span>
                        </div>
                        <div class="menu-delete-button">

                        </div>
                    </div>
                </div>
                <!-- 총 결제 금액 -->
                <div class="total-price">
                    <div class="total-price-title">
                        <span>총 결제 금액</span>
                    </div>
                    <div class="total-price-amount">
                        12000<span>원</span>
                    </div>
                    <div class="button-area">
                        <button class="delete-button ">
                            전체 삭제
                        </button>
                        <button class="payment-button">
                            결제 하기
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <script src="/static/js/main.js"></script>
</body>

</html>