<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 수단</title>
    <link rel="stylesheet" href="/static/css/payment/paymentOption.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Do+Hyeon&family=Dongle:wght@400;700&family=Gothic+A1:wght@400;500&family=Gowun+Batang&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Sunflower:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bc6b6ea66.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="wrap">
        <div class="container">
            <img class="logo-image" src="/static/images/logo.png" alt="logo-image">

            <div class="payment-title">
                <h2>결제 수단을 선택해 주세요.</h2>
            </div>
            <div class="payment">
                <div class="credit-card">
                    <i class="fa-regular fa-credit-card icon"></i>
                    <span class="payment-content">카드 결제</span>
                </div>
                <div class="cash">
                    <i class="fa-solid fa-coins icon"></i>
                    <span class="payment-content">현금 결제</span>
                </div>
            </div>

        </div>

    </div>
    <script src="/static/js/paymentOption.js"></script>
</body>

</html>